#dev-display {
    display: flex;
    flex-direction: column;
}

#dev-display h1 {
    text-align: center;
    font-family: Loew-Heavy;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 0px; 
}

#dev-display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#dev-display-container li {
    list-style: none;
    display: flex;
    width: 700px;
    margin: 10px;
}

.dev-img-container {
    width: 200px;
    margin-right: 35px;
}

.dev-img-container img {
    width: 100%;
}

.name {
    width: 60%
}

.name h2 {
    font-family: Loew-Heavy;
    font-size: 28px;
    text-transform: uppercase;
}

.name p {
    font-size: 22px;
    margin: 0px;
}

#add-user {
    margin: 10px 35px;
}

#add-user-form legend {
    font-family: Loew-Heavy;
    font-size: 28px;
    text-transform: uppercase;
}

#add-user-form label {
    display: inline-block;
    font-size: 22px;
    margin-right: 60px;
    margin-top: 15px;
}

#add-user-form button {
    background-color: #fff35c;
     color: black;
     display: flex;
     justify-content: space-between;
     padding: 10px 15px;
     font-size: 16px;
     font-family: Loew-Heavy;
     text-transform: uppercase;
     margin-top: 15px;
     margin-left: auto;
     margin-right: auto;
}