main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 70px;
}

h1 {
    font-family: Loew-Heavy;
    font-size: 155px;
    margin: 0px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-style: italic;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    width: 100%;
    padding: 25px 0px;
    text-align: center;
}