body {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: red;
    height: 100px;
}

header img {
    height: 80px;
}

header h1 {
    flex-grow: 1;
}

#user-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#user-profile img {
    height: 35px;
    border: 1px solid white;
    border-radius: 100%;
}